body{
  margin: 20px;
}
button{
  background-color: orange;
  border-radius: 5px;
  height: 12px;
  padding-right: 5px;
  margin: 10px;
}
.mainsection{
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-areas:
    "boxA boxA boxB boxB"
    "boxC boxC boxD boxE"
    "boxC boxC boxF boxF"
    "boxG boxH boxI boxJ";
}
.mainsection > div{
  padding: 10px;
}
.boxA, .boxB, .boxF{
  border: solid 1px orange;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box1 box2 box2"
    "box1 box3 box4";
}
.boxC, .boxD, .boxE, .boxG, .boxH, .boxI, .boxJ{
  border: solid 1px green;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "box1 box1 box1"
    "box2 box2 box2"
    "box3 box3 box4";
}
.box1{
  background-position: center;
  background-image: url("../img/glow.png");
  background-size: stretch;
  background-repeat: no-repeat;
  min-height: 150px;
  grid-area: box1;
}
.box2{
  grid-area: box2;
  font-size: 1em;
  padding: 10px;
}
.box3{
  grid-area: box3;
}
.box4{
  grid-area: box4;
  background-color: orange;
  height: 16px;
  width: 100px;
}
.boxA{
  grid-area: boxA;
}
.boxB{
  grid-area: boxB;
}
.boxC{
  grid-area: boxC;
}
.boxD{
  grid-area: boxD;
}
.boxE{
  grid-area: boxE;
}
.boxF{
  grid-area: boxF;
}
.boxG{
  grid-area: boxG;
}
.boxH{
  grid-area: boxH;
}
.boxI{
  grid-area: boxI;
}
.boxJ{
  grid-area: boxJ;
}

@media (min-width:100px) and (max-width: 568px){
  .mainsection{
    grid-template-areas:
      "boxA boxA boxA boxA"
      "boxB boxB boxB boxB"
      "boxC boxC boxC boxC"
      "boxD boxD boxD boxD"
      "boxE boxE boxE boxE"
      "boxF boxF boxF boxF"
      "boxG boxG boxG boxG"
      "boxH boxH boxH boxH"
      "boxI boxI boxI boxI"
      "boxJ boxJ boxJ boxJ";
    }
    .boxA, .boxB, .boxF{
      grid-template-areas:
        "box1 box1 box1"
        "box2 box2 box2"
        "box3 box3 box4";
    }
  }
@media (min-width:569px) and (max-width: 925px){
  .mainsection{
    grid-template-areas:
      "boxA boxA boxA boxA"
      "boxB boxB boxC boxC"
      "boxD boxD boxD boxD"
      "boxE boxE boxF boxF"
      "boxG boxG boxG boxG"
      "boxH boxH boxI boxI"
      "boxJ boxJ boxJ boxJ";
    }
    .boxA, .boxB, .boxF{
      grid-template-areas:
        "box1 box1 box1"
        "box2 box2 box2"
        "box3 box3 box4";
    }
  }
