body{
  font-family: 'Markazi Text', serif;
  font-size: 20px;
  background-color: #3a3a33;
  background-image: url(https://cdn.pixabay.com/photo/2017/05/30/09/24/keyboard-2356305_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav{
  position: fixed;
  z-index: 1;
  background: hsla(0, 100%, 100%, 0.6);
  top: 20px;
  right: 10px;
  height: 90vh;
  width: 8%;
  margin: 0px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  font-size: 80%;
  font-style: normal;
  border-radius: 5px;
}
.icon{
  padding-top: 10px;
  padding-left: 2px;
}
main{
  flex: 1;
  height: 90vh;
  width: 78%;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0px 30px 30px;
  border-radius: 5px;
  border: 2px solid #edeff2;
  background-color: white;
}
header{
  position: sticky;
  z-index: 1;
  top: 0px;
  font-size: 220%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 12px;
  border: 1px solid white;
}
div{
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: #576d8e;
  border-radius: 5px;
  border: 1px solid #edeff2;
}
div:nth-child(3) {
  margin-top: 15px;
}
h1{
  color: black;
  text-align:center;

}
h2{
  color: black;
}
ol{
  list-style-type:square;
}
#green{
  color: green;
}
#border{
  border: 2px dotted pink;
}
.container {
  position: relative;
  width: 50%;
}

.hoverimg {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  text-align: center;
  color: white;
  font-size: 220%;
}

.container:hover .overlay {
  opacity: 1;
}
footer{
  margin: 0px;
  font-size: 65%;
  text-align: right;
  color: #c2c6ce;
}
