body{
  background-color: beige;
  margin: 0 auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: white;
  height: 230px;
}
main{
  display: flex;
  justify-content:
}
