html{
  height: 100%;
}
body{
  font-family: 'Playfair Display', serif;
  font-size: 2.5vh;
  background-color: #b2b4b7;
  background-image: url(https://i.pinimg.com/564x/5a/8b/a6/5a8ba69afd0c1f246915632a3297159e.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
header{
  font-size: 280%;
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 40%;
}
.into{
  background: hsla(0, 30%, 100%, 0.3);
}
h1{
  font-size: 100%;
  font-style: oblique;
  margin-left: 10%;
  margin-right: 40%;
  margin-bottom: 5%;
}
main{
  box-sizing: border-box;
  margin: 20px auto;
  border-radius: 5px;
  background: hsla(0, 30%, 100%, 0.8);
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 50px;
}
aside{
  box-sizing: border-box;
  float: left;
  width: 6%;
  height: 100%;
  padding-left: 2%;
}
p{
  font-size: 110%;
  padding-left: 15%;
}
.links{
  list-style-type: none;
}
